    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Edward 空间, javascript, ES6, node, apache">
    <meta name="author" content="Edward">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- <link rel="stylesheet" href="/assets/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-grid.min.css"> -->
    <!-- <%- new GeneratorAssetsElement([ '/assets/css/reboot.css', '/assets/css/layout.css', '/assets/css/grid.css', '/assets/css/cmmon.css', '/assets/css/index.css' ], 'link').render() %> -->
    <link rel="stylesheet" href="/assets/css/reboot.css">
    <link rel="stylesheet" href="/assets/css/layout.css">
    <link rel="stylesheet" href="/assets/css/grid.css">
    <link rel="stylesheet" href="/assets/css/cmmon.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <!-- <link rel="stylesheet" href="/assets/css/default.min.css"> -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_691652_nz9758ju3z19vn29.css">
    <script src="/assets/lib/core.js"></script>
    <script src="/assets/lib/require.js"></script>
    <title><%= title %></title>
