<header class="header">
  <div class="container">
    <a href="/" class="site-logo">
      <img src="/logo.png" alt="Edword">
    </a>
    <div class="header-navigation pull-right font-transform-inherit">
      <ul class="clearfix">
        <li class="menu-search">
          <form action="javascript:;" class="form">
            <div class="form-item">
              <span class="iconfont icon-seach"></span>
              <input type="text" placeholder="css gulp es6" autofocus autocomplete="off" class="input">
            </div>
          </form>
        </li>
        <li>
          <a href="/">主页</a>
        </li>
        <li class="active">
          <a href="/archives/">文章</a>
        </li>
        <li>
          <a href="/contact/">联系</a>
        </li>
        <li>
          <a href="/about/">关于</a>
        </li>
      </ul>
    </div>
  </div>
</header>
