<% include ./default-head.html.ejs %>
<% include ./require.config.html.ejs %>
  <script>
    require(['index'], function (index) {
      var teacher = new index.Teacher('Edward', '22','班主任')
      window.teacher = teacher
      console.log(index.values)
    })
    var a = 10;
    do {
      a--
      console.log(a)
    } while (a > 0)

    require(['tools'], function (tools) {
      var Pagination = new tools.Pagination({ total: 80, current: 2, baseURL: '/page/$pager' })
      window.Pagination = tools.Pagination
      console.log(Pagination)
    })
  </script>
  <title><%= title %></title>
