<!DOCTYPE html>
<html lang="zh-CN">

<head>
<% include ../components/default-head.html.ejs %>
  <!-- <link rel="stylesheet" href="../lib/codemirror/addon/fold/foldgutter.css" /> -->
  <link rel="stylesheet" href="/assets/editor.md/lib/codemirror/codemirror.min.css" />
  <link rel="stylesheet" href="/assets/editor.md/css/editormd.min.css" />
  <script>
    requirejs.config({
      baseUrl: "/assets/editor.md/lib/",
      paths: {
          jquery          : "../../lib/jquery.min",
          marked          : "marked.min",
          prettify        : "prettify.min",
          raphael         : "raphael.min",
          underscore      : "underscore.min",
          flowchart       : "flowchart.min",
          jqueryflowchart : "jquery.flowchart.min",
          sequenceDiagram : "sequence-diagram.min",
          katex           : "//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min",
          editormd        : "../editormd.amd.min", // Using Editor.md amd version for Require.js
          ts: '../../js/ts'
      },
      waitSeconds: 30
    });
  </script>

  <script>
    var deps = [
        "editormd",
        "../languages/en",
        "../plugins/link-dialog/link-dialog",
        "../plugins/reference-link-dialog/reference-link-dialog",
        "../plugins/image-dialog/image-dialog",
        "../plugins/code-block-dialog/code-block-dialog",
        "../plugins/table-dialog/table-dialog",
        "../plugins/emoji-dialog/emoji-dialog",
        "../plugins/goto-line-dialog/goto-line-dialog",
        "../plugins/help-dialog/help-dialog",
        "../plugins/html-entities-dialog/html-entities-dialog",
        "../plugins/preformatted-text-dialog/preformatted-text-dialog"
    ];

    var testEditor

    var md = `### 锚点与链接 Links

[普通链接](http://localhost/)

[普通链接带标题](http://localhost/ "普通链接带标题")

直接链接：<https://github.com>

[锚点链接][anchor-id]

[anchor-id]: http://www.this-anchor-link.com/

[mailto:test.test@gmail.com](mailto:test.test@gmail.com)

GFM a-tail link @pandao  邮箱地址自动链接 test.test@gmail.com  www@vip.qq.com`

    require(deps, function(editormd) {
      console.log(editormd)
      editormd.loadCSS("/assets/editor.md/lib/codemirror/addon/fold/foldgutter");

      testEditor = editormd("test-editormd", {
        width: "90%",
        height: 640,
        path : '/assets/editor.md/lib/',
        markdown : md,
        codeFold : true,
        searchReplace : true,
        saveHTMLToTextarea : true,                // 保存HTML到Textarea
        htmlDecode : "style,script,iframe|on*",       // 开启HTML标签解析，为了安全性，默认不开启
        emoji : true,
        taskList : true,
        tex : true,
        tocm            : true,         // Using [TOCM]
        autoLoadModules : false,
        previewCodeHighlight : true,
        flowChart : true,
        sequenceDiagram : true,
        //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
        //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
        //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
        //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
        //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
        imageUpload : true,
        imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
        imageUploadURL : "./php/upload.php",
        onload : function() {
          console.log('onload', this);
          //this.fullscreen();
          //this.unwatch();
          //this.watch().fullscreen();

          //this.setMarkdown("#PHP");
          //this.width("100%");
          //this.height(480);
          //this.resize("100%", 640);
        }
      });
    })
  </script>
</head>

<body>
<% include ../components/header.html.ejs %>
  <div class="container">
    <div class="breadcrumb">
      <ul>
        <li><a href="/">主页</a></li>
        <li class="active">文章</li>
      </ul>
    </div>
    <main id="main">
      <h1>Blog</h1>
      <div class="row">
        <div id="test-editormd"></div>
      </div>
    </main>
  </div>
<% include ../components/footer.html.ejs %>
</body>

</html>
