/*
 * @Author: Edward
 * @Date: 2018-05-31 20:28:10
 * @Last Modified by: Edward
 * @Email: 809537981@qq.com
 * @Last Modified time: 2018-06-11 23:14:37
 */
@charset "utf-8";

@import "./_variables";
@import "./_mixins";

.header {
  position: relative;
  z-index: 999;
  margin-bottom: 23px;
  border-radius: 0;
  background: #fff;
  box-shadow: 0 1px 3px #ddd;

  &-navigation {
    margin: 0 10px 0 0;
    padding: 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      > li {
        float: left;
        border-bottom: 2px solid transparent;

        &.active {
          background: #fcfcfc;
          border-color: #e64f00;
        }
      }

      a {
        color: #333;
        display: block;
        padding: 29px 18px 30px;

        &:hover {
          color: #e02222;
          background: #fcfcfc;
          text-decoration: none;
        }
      }
    }
  }

  .menu-search {
    padding: 29px 18px 30px;

    .form {
      border-bottom: 1px solid #999;
    }

    .input {
      border: none;
      margin-left: 6px;
    }
  }
}

.site-logo {
  float: left;
  font-size: 23px;
  font-weight: 400;
  margin-right: 67px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.footer {
  position: relative;
  margin-top: 20px;
  color: #b0b0b0;
  background: #313030;

  .container {
    padding-top: 45px;
  }

  &-col {
    padding-bottom: 22px;

    &-title {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  .footer-bottom {
    padding: 15px 0;
  }

  .friend-link {
    a {
      text-decoration: none;
    }
  }

  a {
    color: inherit;
  }
}

html::-webkit-scrollbar {/*滚动条整体样式*/
  width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

html::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #535353;
}

html::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: #EDEDED;
}
