@charset "utf-8";
/*
 * @Author: Edward
 * @Date: 2018-06-03 01:18:48
 * @Last Modified by: Edward
 * @Email: 809537981@qq.com
 * @Last Modified time: 2018-06-13 23:23:23
 */

@import "./_variables";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
button,
figure,
input,
option,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

html {
  background-color: $white;
}

body {
  -webkit-overflow-scrolling: touch;
  word-break: break-all;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  line-height: 1.4;
  font-size: 13px;
  color: $fontColor;
}

h4,
h5,
h6 {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

i,
address,
cite,
dfn,
em,
var {
  font-style: normal;
}

small {
  font-size: 12px;
}

ul,
ol,
dl {
  list-style: none;
}

ul,
ol,
dl,
menu {
  padding: 0;
  margin: 0;
}

a {
  color: #E02222;
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    color: #E02222;
    text-decoration: underline;
  }
}

fieldset,
img {
  border: none;
  max-width: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
  transform: translateZ(0);
}

/* 重置表单元素 */

input,
select,
textarea {
  font-size: inherit;
  display: inline-block;
  box-sizing: border-box;
  font-size: inherit;
  outline: none;
  vertical-align: middle;
  border: 1px $bdColor solid;
  appearance: none;
}

/*去除谷歌背景*/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #faffbd;
  background-image: none;
  color: #000;
}

input[disabled],
input[readonly],
button[disabled],
textarea[readonly] {
  opacity: 1;
  user-select: none;
}

input[type=button],
button {
  cursor: pointer;
}

input:-moz-placeholder,
textarea:-moz-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder  {
  color: lighten($fontColor, 30%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  border: 0;
  border-top: 1px $bdColor solid;
}
