  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 footer-col">
          <h2 class="footer-col-title">关于</h2>
          <p>Computer Lab is a software development and marketing company based in Brooklyn, New York. </p>
          <br>
          <p>Computer Lab was founded in 2015, and is focused on blah blah blah.</p>
        </div>
        <div class="col-md-4 col-sm-6 footer-col">
          <h2 class="footer-col-title">联系</h2>
          <p>140 Metropolitan Avenue</p>
          <p>5th Floor</p>
          <p>Brooklyn, NY 11249</p>
          <p>Phone: 716-472-4484</p>
          <p>Email: <a href="mailto:ptsteadman@gmail.com">ptsteadman@gmail.com</a></p>
        </div>
        <div class="col-md-4 col-sm-6 footer-col">
          <h2 class="footer-col-title">联系</h2>
          <p>140 Metropolitan Avenue</p>
          <p>5th Floor</p>
          <p>Brooklyn, NY 11249</p>
          <p>Phone: 716-472-4484</p>
          <p>Email: <a href="mailto:ptsteadman@gmail.com">ptsteadman@gmail.com</a></p>
        </div>
      </div>
      <div class="row footer-bottom">
        <div class="col-md-6 col-sm-6">
          <p>© 2017 Corporate Frontend</p>
          <a href="javascript:;">Privacy Policy</a> | <a href="javascript:;">Terms of Service</a>
        </div>
        <div class="col-md-6 col-sm-6">
          <ul class="align-self-end friend-link">
            <li>
              <a href="https://sunday9787.github.io/"><i class="iconfont icon-github"></i>&nbsp;github</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="/assets/lib/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="/assets/js/index.min.js"></script> -->
  <script>
    require(['ts'])
  </script>
